body {
  background: #f7f8fc;
}
* {
  margin: 0;
  padding: 0;
}
.home {
  text-align: center;
  margin: 0;
  background-color: #f7f8fc;
}
h1 {
  padding: 1rem;
  padding-top: 2rem;
}
.home.light {
  background: #ffffff;
  color: #333;
}
.home.dark {
  background: #333;
  color: #ffffff;
}
