/* body {
  background: #f7f8fc;
}
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  margin: 0;
  background-color: #f7f8fc;
}
h1 {
  padding: 1rem;
  padding-top: 2rem;
}
.App.light {
  background: #ffffff;
  color: #333;
}
.App.dark {
  background: #333;
  color: #ffffff;
} */

.react-switch{
  position: absolute !important;
  top: 5%;
  right: 4%;
}
.react-switch .react-switch-bg{
height: 35px !important;
width: 65px !important;
}
.react-switch .react-switch-handle{
height: 30px !important;
width: 30px !important;
}
